:root {

    --main-color: #111;
    --secundary-color: #222;
    --main-text-color: #f4dd5d;
    --secundary-text-color: #f6e277;
    --strong-color: #f1d434;

}

body {
    background-color: var(--main-color);
}

.logo {
    font-weight: 400;
    font-family: 'orbitron', 'sans-serif';
    background-color: #333;
    margin: 0;
    color: var(--main-text-color);
    text-align: center;
    padding: 1rem;
    border-bottom: 4px solid var(--strong-color);
    font-size: 1.5rem;
}

.menuNav {
    display: flex;
}

.menuNav a{
    text-decoration: none;
    margin: 5px;
    color: var(--main-text-color);
    font-family: 'Poor Story', cursive;
    text-transform: uppercase;
    font-size: 22px;

}

.menuPrincipal, .menuRedes {
    display: flex;
    list-style: none;
    width: auto;
    margin: 0 auto;
}

.menuPrincipal{
    margin-left: 5%;
    padding: 0;

}

.menuRedes{
    margin-right: 5%;
    padding: 0;
}

.menuPrincipal p{
    transition: all .5s ease-in;
    margin: 0 20px;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
}

.menuPrincipal p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    transform: skewX(35deg);
    background-color: var(--strong-color);
    z-index: -1;
    transition: width 1.3s;
}

.menuPrincipal p:hover::before{
    width: 200%;
}

.menuPrincipal p:hover{
    transform: scale(1.2);
    color: var(--secundary-color);
    font-weight: 700;
}

.menuRedes p {
    transition: all .3s linear;
    margin: 0 20px;
}

.menuRedes p:hover{
    transform: scale(1.4); 
    color: var(--strong-color);
}

.boasVindas {
    background-color: var(--secundary-color);
    height: 40vh;
    margin-top: 15vh;
    margin-bottom: 30vh;
    display: flex;
    width: 75vw;
    position: relative;
    border-radius: 0 2% 2% 0;
}

.boasVindas p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 80%;
    margin: auto;
    font-family: 'Orbitron', 'sans-serif';
    color: var(--main-text-color);
    font-size:1.5rem ;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: center;
}

.boasVindas img {
    display: flex;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    left: 85%;
    transition: all .5s linear;
}

.boasVindas img:hover{
    transform: scale(1.2);
    
}

.sobreMim {
    background-color: var(--secundary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aux {
    display: flexbox;
    width: 80%;
    height: 80vh;
}

.subTitle {
    color: var(--main-text-color);
    font-size: 36px;
    padding: 10px 0;
    border-bottom: 4px solid var(--strong-color);
    font-family: 'Oxanium', 'cursive';
    margin-bottom: 10vh;
}

.btnDownload {
    display: block;
    background-color: var(--strong-color);
    margin: 5% auto;
    max-width:15vw;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-family: 'Oxanium', 'cursive';
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow .5s linear;
}

.btnDownload:hover {
    box-shadow:  0 0 5px var(--strong-color), 0 0 25px var(--strong-color);
    color: var(--secundary-color);
}

.btnDownload p {
    margin: 0;
}

.SobreMimParagrafo {
    width: 80%;
    margin: auto;
    color: var(--main-text-color);
    font-size: 100%;
    line-height: 3;
    font-family: 'Orbitron', 'sans-serif';
    text-align: center;
    letter-spacing: 2px;
}

.habilidades {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.habilidadesSubtitle {
    color: var(--secundary-text-color);
    font-family: 'Oxanium', 'cursive';
    font-size: 1.2rem;

}

.icone {
    color: var(--strong-color);
    background-color: var(--secundary-color);
    display: inline-block;
    border-top: solid 3px var(--strong-color);
    border-radius: 0 0 30px 30px;
    padding: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    transition: all .3s ease-in;
}

.icone:hover {
    box-shadow: 0 0 20px #f1d434, 0 0 20px #f1d434;
    transform: scale(1.1);
}

.habilidadesConteudo i {
    font-size: 3rem;
}

.box {
    display: flex;
    justify-content: flex-start;
}

.projetos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    background-color: red;
}

.contatos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    font-family: 'Oxanium', 'cursive';
    color: var(--secundary-text-color);
}

.redesSociais {
    display: flex;
    justify-content: space-evenly;
}

.small {
    margin-right: 0;
    margin-top: 5%;
    font-size: 3rem;
    padding: 1%;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small a {
    color: var(--strong-color);
    display: flex;

}

.long {
    width: 30vw;
    display: flex;
    padding: 0;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.long ion-icon  {
    margin-right: 4px;
}

.subSubTitle {
    margin-top: 7%
}